@import "tailwindcss";

html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: marquee-left 100s linear infinite;
}
